[Unit]
Description=Nginx load balancer for Redis Workbench

# Requirements
Requires=etcd2.service
Requires=docker.service

After=etcd2.service
After=docker.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
ExecStartPre=-/usr/bin/docker kill redis-workbench-lb
ExecStartPre=-/usr/bin/docker rm redis-workbench-lb
ExecStartPre=/usr/bin/docker pull kcyeu/redis-workbench-lb
ExecStart=/usr/bin/docker run --name redis-workbench-lb -p ${COREOS_PUBLIC_IPV4}:80:80 \
kcyeu/redis-workbench-lb /usr/local/bin/confd-watch
