[Unit]
Description=Redis Workbench Service
After=docker.service
Requires=redis-db.service

[Service]
# Disable systemd's built-in time out
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
# https://github.com/coreos/unit-examples/issues/1
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill redis-workbench
ExecStartPre=-/usr/bin/docker rm redis-workbench
ExecStartPre=/usr/bin/docker pull kcyeu/redis-workbench:latest
ExecStart=/usr/bin/docker run --name redis-workbench -p 80:80 --link redis-db:redis kcyeu/redis-workbench

# Stop
ExecStop=/usr/bin/docker stop redis-workbench

[X-Fleet]
MachineOf=redis-db.service
Conflicts=redis-workbench@*.service

