[Unit]
Description=Redis Workbench Service
Requires=docker.service
Requires=redis-db.service

After=docker.service
After=redis-db.service

[Service]
TimeoutStartSec=0
KillMode=none

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill redis-workbench
ExecStartPre=-/usr/bin/docker rm redis-workbench
ExecStartPre=/usr/bin/docker pull kcyeu/redis-workbench:latest
ExecStart=/usr/bin/docker run --name redis-workbench -p 80:80 --link redis-db:redis kcyeu/redis-workbench

# Stop
ExecStop=/usr/bin/docker stop redis-workbench

[X-Fleet]
MachineOf=redis-db.service
Conflicts=redis-workbench.service
